/* ==========================================================================
   PUBLICATIONS
   ========================================================================== */

.publication__item {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }
}

.publication__content {
  display: flex;
  align-items: flex-start;
  margin-left: -0.75em;
  margin-right: -0.75em;
  
  > * {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }

  @include breakpoint($small) {
    flex-direction: column;
  }

  @include breakpoint($medium) {
    flex-direction: row;
  }
}

.publication__teaser {
  flex-shrink: 0;
  width: 200px;
  height: 120px;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: $light-gray;

  @include breakpoint($small) {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  @include breakpoint($medium) {
    width: 200px;
    height: 120px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.publication__text {
  flex: 1;
  min-width: 0;
}

.publication__title {
  margin: 0 0 0.5em 0;
  font-size: $type-size-4;
  font-weight: 600;
  line-height: 1.3;

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.publication__authors {
  margin: 0.5em 0;
  font-size: $type-size-5;
  color: $muted-text-color;
  line-height: 1.5;
}

.publication__year {
  color: $muted-text-color;
  font-weight: normal;
}

.publication__venue {
  margin: 0.5em 0;
  font-size: $type-size-6;
  color: $muted-text-color;
  font-style: italic;
}

.publication__links {
  margin-top: 0.75em;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.25em;
  margin-right: -0.25em;
  
  > * {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

