/* ==========================================================================
   PUBLICATIONS
   ========================================================================== */

.publication__item {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  border-left: 2px solid transparent;
  transition: all 0.2s ease;

  &:hover {
    border-left-color: $primary-color;
    padding-left: 1.25em;
    background-color: mix(#fff, $primary-color, 98%);
    padding-top: 0.5em;
    padding-bottom: 1.75em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-right: 0.5em;
    border-radius: $border-radius;
  }

  &:last-child {
    border-bottom: none;
  }
}

.publication__content {
  display: flex;
  align-items: flex-start;
  margin-left: -0.75em;
  margin-right: -0.75em;
  
  > * {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }

  @include breakpoint($small) {
    flex-direction: column;
  }

  @include breakpoint($medium) {
    flex-direction: row;
  }
}

.publication__teaser {
  flex-shrink: 0;
  width: 200px;
  height: 120px;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: $light-gray;

  @include breakpoint($small) {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  @include breakpoint($medium) {
    width: 200px;
    height: 120px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.publication__text {
  flex: 1;
  min-width: 0;
}

.publication__title {
  margin: 0 0 0.5em 0;
  font-size: $type-size-5;
  font-weight: 600;
  line-height: 1.3;

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.publication__authors {
  margin: 0.5em 0;
  font-size: $type-size-6;
  color: mix(#fff, $gray, 25%);
  line-height: 1.5;
}

.publication__year {
  color: mix(#fff, $gray, 25%);
  font-weight: normal;
}

.publication__venue {
  margin: 0.5em 0;
  font-size: $type-size-7;
  color: mix(#fff, $gray, 25%);
  font-style: italic;
}

.publication__links {
  margin-top: 0.75em;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.25em;
  margin-right: -0.25em;
  
  > * {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

.publications-toc {
  background: linear-gradient(135deg, mix(#fff, $primary-color, 97%) 0%, mix(#fff, $gray, 95%) 100%);
  padding: 2em;
  border-radius: $border-radius;
  margin-bottom: 2.5em;
  border-left: 5px solid $primary-color;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  h2 {
    margin-top: 0;
    margin-bottom: 1.25em;
    font-size: $type-size-2;
    color: $primary-color;
    font-weight: 700;
    border-bottom: 2px solid mix($primary-color, #fff, 30%);
    padding-bottom: 0.5em;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      margin: 0.75em 0;
      
      a {
        color: $primary-color;
        text-decoration: none;
        font-size: $type-size-4;
        font-weight: 600;
        transition: all 0.2s ease;
        
        &:hover {
          text-decoration: underline;
          color: mix(#000, $primary-color, 20%);
          padding-left: 0.25em;
        }
      }
      
      ul {
        margin-top: 0.75em;
        margin-left: 1.5em;
        padding-left: 0;
        border-left: 2px solid mix($primary-color, #fff, 40%);
        padding-left: 1em;
        
        li {
          margin: 0.4em 0;
          
          a {
            font-weight: normal;
            font-size: $type-size-6;
            color: mix(#fff, $gray, 20%);
            
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.publication-section-header {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  padding: 1em 0;
  padding-left: 1em;
  border-left: 5px solid $primary-color;
  background-color: mix(#fff, $primary-color, 95%);
  font-size: $type-size-1;
  color: $primary-color;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  
  &:first-of-type {
    margin-top: 0;
  }
}

.publication-year-header {
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding: 0.5em 0;
  padding-left: 0.75em;
  border-left: 3px solid mix($primary-color, #fff, 60%);
  font-size: $type-size-5;
  color: mix(#fff, $gray, 15%);
  font-weight: 500;
  font-style: italic;
  
  &:first-of-type {
    margin-top: 0.75em;
  }
}

