/* ==========================================================================
   TALKS
   ========================================================================== */

.talk__item {
  margin-bottom: 2.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }
}

.talk__title {
  margin: 0 0 0.75em 0;
  font-size: $type-size-3;
  font-weight: 600;
  line-height: 1.3;

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.talk__date {
  margin: 0.5em 0;
  font-size: $type-size-5;
  color: mix(#fff, $gray, 25%);
  
  i {
    margin-right: 0.5em;
  }
}

.talk__details {
  margin: 1em 0;
  padding: 1em;
  background-color: mix(#fff, $gray, 95%);
  border-left: 3px solid $primary-color;
  border-radius: $border-radius;
}

.talk__venue {
  margin: 0.5em 0;
  font-size: $type-size-4;
  font-weight: 600;
  color: $text-color;
  line-height: 1.4;
  
  i {
    margin-right: 0.5em;
    color: $primary-color;
  }
  
  strong {
    font-weight: 600;
  }
}

.talk__location {
  margin: 0.5em 0;
  font-size: $type-size-5;
  color: $text-color;
  line-height: 1.4;
  
  i {
    margin-right: 0.5em;
    color: $info-color;
  }
}

.talk__type {
  margin: 0.5em 0 0 0;
  font-size: $type-size-6;
  color: mix(#fff, $gray, 25%);
  font-style: italic;
}

.talk__excerpt {
  margin-top: 1em;
  font-size: $type-size-5;
  line-height: 1.6;
  color: $text-color;
}

